.user-info {
  text-align: center;
  width: 68%;
  margin: 2rem auto;
}

.user-info img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-info h1 {
  color: #2196f3;
}

.user-info p {
  color: gray;
}

.user-places {
  width: 70%;
  margin: auto;
}

.user-btn-control {
  text-align: center;
  margin-top: 1rem;
}

.user-btn-control .btn {
  font-size: medium;
  margin: 0 2rem;
}
